.story {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  width: 60%;
  max-width: 450px;

  @include respond-to(sm) {
    top: 20%;
  }

  p {
    margin-bottom: 5px;
  }

  &-header {
    opacity: 0;
    animation: revealnoreveal 3s ease-in;
    animation-delay: 2s;
  }

  &-body {
    opacity: 0;
    animation: revealnoreveal 14s ease-in;
    animation-delay: 6s;
  }

  &-info {
    opacity: 0;
    animation: reveal 6s ease-in forwards;
    animation-delay: 20s;
    position: absolute;
    top: 50px;

    @include respond-to(sm) {
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .info-title {
    margin-right: 6px;
    position: relative;
    &::after {
      position: absolute;
      bottom: 5px;
      left: 0;
      width: 100%;
      content: '';
      height: 1px;
      background: #FF0000;
    }
  }

  .vampire {
    text-shadow: 2px 2px #FF0000;
  }

  .note {
    margin-top: 15px;
    color: #FF0000;
  }

}

.clock {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: auto;
  max-width: 500px;

  animation: reveal 2s ease-in;
}
