@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal_opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes revealnoreveal {
    0% {
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
}
